*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
/* header */

/* section__proyectos */
.encrypt{
    text-align: center;
}
.encrypt__tittle{
    margin: 10px 0;
}
.encrypt__textareas{
    width: 100%;
    height: 300px;
    text-align: center;
}
.encrypt__textarea{
    width: 45%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    margin: 0 10px;
    resize: none;
    
}
.encrypt__buttons{
    display: flex;
    justify-content: space-around;
    margin: 10px 0  ;
}

.encrypt__button{
    height: 25px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border:1px solid;
    padding: 3px;
    transition: 200ms;
    box-shadow: 4px 3px 7px black;
}
.encrypt__button:active {
    box-shadow: none;
}
.description{
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}
.description__tittle{
    margin: 5px 0;
}


